* {
  margin: 0;
  padding: 0;
}
/* header styling */
.header {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      rgba(34, 33, 94, 0.5),
      rgba(34, 33, 94, 0.5)
    ),
    url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
}
nav {
  background-color: rgba(58, 38, 102, 0.5);
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  float: right;
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 17px;
  font-weight: bold;
}
header a {
  text-decoration: none;
  padding: 20px;
  color: rgb(245, 185, 21);
}
.vision {
  font-size: 30px;
  color: aliceblue;
}

#logo {
  display: flex;
  justify-content: start;
  align-items: center;
  clear: both;
  padding: 20px;
}
.logoImg {
  width: 40px;
}
.animeMove {
  transform: rotate(360deg);
  transition: 2s;
}
.brf {
  margin-top: 15%;
}
hr {
  width: 200px;
  height: 5px;
  background-color: teal;
  border-radius: 80px;
}
/* About section styling*/
.myWork {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.myWork img {
  border-radius: 50%;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-left: 45px;
  margin-top: 5px;
}
.about {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 15px;
}
#About {
  margin-top: 650px;
  margin-bottom: 50px;
  height: 50px;
}
.about p {
  padding: 5px;
  width: 60%;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.textAbout {
  font-size: 35px;
  margin-bottom: 35px;
}
/* Team section Styling*/
.team-section {
  display: flex;
  background-color: blanchedalmond;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.team-section section div p {
  font-family: Arial, Helvetica, sans-serif;
}
.team-section section div h3 {
  margin-bottom: 5px;
}
h2 {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: blanchedalmond;
  font-family: "Noto Serif", serif;
}
#Teamm {
  margin-top: 35px;
  margin-bottom: 130px;
}
.memberImg {
  width: 250px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
img:hover {
  transform: scale(1.1);
}
.team-section section {
  border: 2px solid rgba(219, 141, 235, 0.733);
  border-radius: 13px;
  margin-bottom: 8px;
  width: 250px;
}
.team-section section div {
  padding: 10px;
}
.team-section section div a {
  margin-right: 5px;
  text-decoration: none;
}
/*footer - contacts*/
footer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      rgba(88, 88, 180, 0.705),
      rgba(86, 84, 156, 0.9)
    ),
    url(./images/fotterBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
}
.inFormation {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.contactOne {
  margin-top: 40px;
  padding: 5px;
}
.contactOne p {
  margin-top: 15px;
}
.contactOne a {
  color: rgb(247, 207, 26);
}
.contactTwo {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactTwo input {
  margin: 5px;
  border-radius: 5px;
  background: none;
  border: 2px solid rgb(255, 255, 255);
  height: 20px;
  width: 200px;
  outline: none;
  color: white;
}
#message {
  height: 100px;
  width: 200px;
  outline: none;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 5px;
}
.divMessage {
  display: flex;
  align-items: baseline;
}
.buttonContact {
  background: none;
  border: 1px solid white;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  color: white;
  cursor: pointer;
}
.cRight {
  text-align: center;
  margin-top: 80px;
}
.goUp {
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
@media (max-width: 500px) {
  #message {
    height: 30px;
  }
  .cRight {
    text-align: center;
    margin-top: 20px;
  }
  .brf {
    margin-top: 40%;
    padding: 10px;
  }
  header a {
    text-decoration: none;
    padding: 20px 7px;
  }
  .vision {
    font-size: 20px;
    color: aliceblue;
  }
}
